.social-link{
  display flex
  justify-content space-between
  width 200px
  &__item{
    background-color #81b3d2
    background-position center
    width 46px
    height 48px
    &_twitter{
      display inline-flex
      padding 20px
      background-image url("./../assets/social-link/icon-twitter.svg")
      background-repeat no-repeat
    }
    &_facebook{
      display inline-flex
      background-image url("./../assets/social-link/icon-facebook.svg")
      background-repeat no-repeat
    }
    &_youtube{
      display inline-flex
      background-image url("./../assets/social-link/icon-youtube.svg")
      background-repeat no-repeat
    }
  }
}
