.social-link{
  display flex
  justify-content space-between
  &__item{
    background-color #81b3d2
    &_twitter{
      background-image url("./../assets/social-link/icon-twitter.svg")
      background-repeat no-repeat
    }
    &_facebook{
      background-image url("./../assets/social-link/icon-facebook.svg")
      background-repeat no-repeat
    }
    &_youtube{
      background-image url("./../assets/social-link/icon-youtube.svg")
      background-repeat no-repeat
    }
  }
}
