.like{
  color #000
  display flex
  align-items center
  margin-top 11px
  &__ico{
    display flex
    width 22px
    margin-right  14px
  }
}
.counter{
  font-weight 700
}
  .pic__like{
    width 40px
  }


@media (min-width: 1024px) {
  .like{
    color #fff
    &__ico{
      fill #fff
    }
  }

}
