*
  box-sizing: border-box

html
  height 100%

body
  margin 0
  height 100%
  font-family 'PTSans'
h1
  margin 0

header,
nav,
section,
article,
aside,
footer
  display block

a
  text-decoration: none
ul{
  padding 0px
  margin 0px
}
li{
  list-style-type none

}
img{
  width 100%
}


.title{
  font-size 18px
  color #000
  text-transform uppercase
  font-weight 700
  &_mod{
    color #fff
  }
  &_interesting{
    font-size 21px
  }
}

.text{
  font-size 14px
  color #000
  text-transform uppercase
  font-weight 400

}
