*
  box-sizing: border-box

html
  height 100%

body
  margin 0
  height 100%
  font-family 'PTSans'
h1
  margin 0

header,
nav,
section,
article,
aside,
footer
  display block

a
  text-decoration: none
ul{
  padding 0px
  margin 0px
}
li{
  list-style-type none
picture{
  height 100%
}
}
img{
  width 100%
  display block
}
.main{
  background-color #f2f2f2
}
.wrapper{
  background-color #fff
  max-width 1200px
  margin 0 auto
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.title{
  font-size 18px
  color #000
  text-transform uppercase
  font-weight 700
  &_mod{
    color #fff
  }
  &_interesting{
    font-size 21px
  }
}

.text{
  font-size 14px
  color #000
  text-transform uppercase
  font-weight 400

}
